<?xml version="1.0"?>

<model>
  <name>Hole Board</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Philipp Koch</name>
    <email>philipp.koch@th-nuernberg.de</email>
  </author>

  <description>
    A plane with several holes of differing size and dephts
  </description>

</model>
