<?xml version="1.0"?>

<model>
  <name>Vader</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Philipp Koch</name>
    <email>philipp.koch@th-nuernberg.de</email>
  </author>

  <description>
    Vader - Mesh downloaded from https://www.myminifactory.com/object/3d-print-star-wars-darth-vader-30-cm-tall-60500
  </description>

</model>
